.page {
  margin: 0 auto;
  max-width: 425px;
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}
