.place__paragraph {
  margin: 0 auto;
  max-width: 90%;
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;
  text-align: left;
  color: #fff;
}

.place__paragraph:first-of-type {
  margin-bottom: 25px;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
