.cover {
  margin: 0 auto 64px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .cover {
    max-width: 92.5%;
  }
}
